2024-06-21/screenshot_11-17-11.jpg
2024-06-21/screenshot_11-20-05.jpg
2024-06-21/screenshot_11-27-13.jpg
2024-06-21/screenshot_11-32-58.jpg
2024-06-21/screenshot_11-37-06.jpg
chat_history.json
output.wav
2024-06-21/screenshot_11-25-32.jpg
2024-06-21/screenshot_11-40-40.jpg
*.jpg
chat_history.json
combined_audio.mp3
chat_history.json

output.wav
occipital_lobe_model.pkl
occipital_lobe_model.pkl
parietal_lobe_model.pkl
*.pkl

experiments/gamer.py
Brain_modules/__pycache__/brain.cpython-312.pyc
Brain_modules/__pycache__/brain.cpython-312.pyc
selector_rl_state.json
Brain_modules/__pycache__/brain.cpython-312.pyc
Brain_modules/__pycache__/brain.cpython-312.pyc
Brain_modules/__pycache__/llm_api_calls.cpython-312.pyc
Brain_modules/lobes/__pycache__/frontal_lobe.cpython-312.pyc
Brain_modules/tool_call_functions/__pycache__/web_research.cpython-312.pyc
Brain_modules/__pycache__/llm_api_calls.cpython-312.pyc
Brain_modules/__pycache__/brain.cpython-312.pyc
Brain_modules/__pycache__/llm_api_calls.cpython-312.pyc
test.py
test.py
temp_screenshot.png
earn.png
full_page_screenshot.png
lobes_log.txt
__pycache__/listen_lobe.cpython-312.pyc
__pycache__/speaker.cpython-312.pyc
__pycache__/utilities.cpython-312.pyc
Brain_modules/__pycache__/define_tools.cpython-312.pyc
Brain_modules/__pycache__/final_agent_persona.cpython-312.pyc
Brain_modules/__pycache__/image_vision.cpython-312.pyc
Brain_modules/__pycache__/lobes_processing.cpython-312.pyc
Brain_modules/__pycache__/memory_utils.cpython-312.pyc
Brain_modules/__pycache__/sentiment_analysis.cpython-312.pyc
Brain_modules/lobes/__pycache__/insular_cortex.cpython-312.pyc
Brain_modules/lobes/__pycache__/cerebellar_lobe.cpython-312.pyc
Brain_modules/lobes/__pycache__/limbic_lobe.cpython-312.pyc
Brain_modules/lobes/__pycache__/occipital_lobe.cpython-312.pyc
Brain_modules/lobes/__pycache__/parietal_lobe.cpython-312.pyc
Brain_modules/lobes/__pycache__/association_areas.cpython-312.pyc
Brain_modules/lobes/__pycache__/temporal_lobe.cpython-312.pyc
Brain_modules/lobes/__pycache__/wernickes_area.cpython-312.pyc
Brain_modules/tool_call_functions/__pycache__/call_expert.cpython-312.pyc
flask_session/2029240f6d1128be89ddc32729463129
flask_session/6da2ddf7931188427d890d2223e011ee
